@charset 'utf-8';

%ct {
    min-height: inherit;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

$white: #fff;
$red: #ff6262;
$red_dark: #ff5151;
$blue: #8ae2e2;
$blue_dark: #0b2a37;
$green_light: #eff7f7;